<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<form class="form-inline" method="get" action="/manager/search">
			<input class="form-control mr-sm-2" type="search" name="key"
				placeholder="Search" aria-label="Search" th:value="${key}">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left:10px;">
    		<div class="navbar-nav">
		<a class="btn btn-outline-success my-2 my-sm-0 mr-sm-2"  th:if="${isAdmin}" href="/admin/manager">Admin manager</a>
		<a class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" th:href="@{${session.user}?'/logout':'/login'}" th:text="${session.user}?Logout:Login"></a>
			</div>
		</div>
		
	</nav>
	<div class="container">
		<div class="tab">
			<table class="table rounded">
				<thead>
					<tr>
						<th>No</th>
						<th>userName</th>
						<th>lastName</th>
						<th>firstName</th>
						<th>email</th>
						<th>isAdmin</th>
						<th>isEmployee</th>
						<th>isUser</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user, iter : ${listUser}">
						<td th:text="${iter.count}" />
						<td th:text="${user.userName}" class="table-success" />
						<td th:text="${user.userInfo.lastName}" class="table-primary" />
						<td th:text="${user.userInfo.firstName}" class="table-danger" />
						<td th:text="${user.userInfo.email}" class="table-info" />
						<td class="table-success"><input type="checkbox" 
							th:checked="${user.isGrantAdmin()}" onclick="return false;"/></td>
						<td class="table-primary"><input type="checkbox"
							th:checked="${user.grantEmployee}" onclick="return false;"/></td>
						<td class="table-danger"><input type="checkbox"
							th:checked="${user.grantStandar}" onclick="return false;"/></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div
			style="height: auto; width: 50%; text-align: center; margin-left: 50%;">
			<ul class="pagination">
				<li th:if="${pages.size()}>3" class="page-item"><a
					th:href="@{${key}?'/manager/search'(page=1,key=${key})}" class="page-link">First</a></li>
				<li th:each="i : ${pages}" class="page-item"><a th:text="${i}"
					class="page-link" th:href="@{${key}?'/manager/search'(page=${i},key=${key})}"></a></li>
				<li th:if="${pages.size()}>5" class="page-item"><a
					class="page-link" th:href="@{${key}?'/manager/search'(page=${totalPages},key=${key})}">End</a></li>
			</ul>
		</div>
	</div>
	<script th:if="${param.stt}">
		alert("dang nhap thanh cong");
	</script>
	<script th:if="${param.grant}">
		alert("ban khong co quyen truy cap trang web nay");
	</script >
</body>
</html>