.task-blue {
  width: 15px;
  height: 31px;
  background: #007bff;
}
.task-red {
  width: 15px;
  height: 31px;
  background: #ff5500;
}
.task-green {
  width: 15px;
  height: 31px;
  background: #229922;
}

.font-center {
  text-align: center;
  font-weight: bold;
}
.h-body {
  height: calc(100vh - 160px);
}
.w-43 {
  width: 43%;
}

.w-96 {
  width: 96%;
}

.ml-10 {
  margin-left: 10%;
}

.w30 {
  width: 30vw;
}

.w35-h38 {
  width: 35vw;
  height: 38vh;
}

.font-blue {
  color: #0076cb;
  font-weight: bold;
}
.w60-h90 {
  width: 60vw;
  height: 90vh;
}
.custom-show-data {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-right {
  position: absolute;
  left: 57%;
}
.screen {
  height: calc(100vh - 242px);
}
.span-radius {
  margin-top: 1rem;
  border: 11px solid #151a30;
  background: #151a30;
  margin-bottom: 3%;
  font-size: 17px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  width: 12%;
}
//carousel
.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;

  }
}

//table
::ng-deep .ngx-datatable .datatable-body-cell-label {
  display: flex !important;
}
/*
@media only screen and (max-width: 1550px) {
  .item-right {
    position: absolute;
    left: 56%;
  }
}
@media only screen and (max-width: 1400px) {
  .item-right {
    position: absolute;
    left: 55%;
  }
}*/
