.custom-title {
  color: #d5dfe3;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.image-left {
  background: url('~assets/images/login-img.jpg') no-repeat center;
  background-size: cover;
  width: 60%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
