<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
">

    <!-- ====================================================== -->
    <!-- Controller beans -->
    <!-- ====================================================== -->
    <bean id="userDetailsServiceImpl" class="com.tech4.corp.policy.impl.UserDetailsServiceImpl" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>

    <bean id="loginController" class="com.tech4.corp.controller.LoginController" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>
    
    <bean id="forgotPassController" class="com.tech4.corp.controller.ForgotPassController" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>
    
    <bean id="registerController" class="com.tech4.corp.controller.RegisterController" scope="prototype">
        <property name="userService" ref="userService" />
    </bean>

    <bean id="mainController" class="com.tech4.corp.controller.MainController" scope="prototype" parent="basicController">
        <property name="mainService" ref="mainService" />
    </bean>
    
    <bean id="menuController" class="com.tech4.corp.controller.MenuController" scope="prototype" parent="basicController">
        <property name="categoryService" ref="categoryService" />
    </bean>
    
    <bean id="adminController" class="com.tech4.corp.controller.AdminController" scope="prototype" parent="basicController"/>
    
    <bean id="documentTypeController" class="com.tech4.corp.controller.DocumentTypeController" scope="prototype" parent="basicController">
        <property name="documentTypeService" ref="documentTypeService" />
    </bean>
    
    <bean id="addEditDocumentTypeController" class="com.tech4.corp.controller.AddEditDocumentTypeController" scope="prototype" parent="basicController">
        <property name="documentTypeService" ref="documentTypeService" />
    </bean>

    <bean id="addEditMenuController" class="com.tech4.corp.controller.AddEditMenuController" scope="prototype" parent="basicController">
        <property name="categoryService" ref="categoryService" />
    </bean>

    <bean id="rightAssignmentController" class="com.tech4.corp.controller.RightAssignmentController" scope="prototype" parent="basicController">
        <property name="categoryService" ref="categoryService" />
    </bean>

    <bean id="addEditGroupController" class="com.tech4.corp.controller.AddEditGroupController" scope="prototype" parent="basicController">
        <property name="categoryService" ref="categoryService" />
    </bean>

    <bean id="addEditRightController" class="com.tech4.corp.controller.AddEditRightController" scope="prototype" parent="basicController">
        <property name="categoryService" ref="categoryService" />
    </bean>

    <bean id="assignRightController" class="com.tech4.corp.controller.AssignRightController" scope="prototype" parent="basicController">
        <property name="categoryService" ref="categoryService" />
    </bean>

    <bean id="roleController" class="com.tech4.corp.controller.RoleController" scope="prototype" parent="basicController">
        <property name="roleService" ref="roleService" />
    </bean>

    <bean id="addEditRoleController" class="com.tech4.corp.controller.AddEditRoleController" scope="prototype" parent="basicController">
        <property name="roleService" ref="roleService" />
    </bean>
    <bean id="documentController" class="com.tech4.corp.controller.DocumentController" scope="prototype" parent="basicController">
        <property name="documentTypeService" ref="documentTypeService" />
        <property name="documentService" ref="documentService" />
    </bean>
    <bean id="addEditDocumentController" class="com.tech4.corp.controller.AddEditDocumentController" scope="prototype" parent="basicController">
        <property name="documentTypeService" ref="documentTypeService" />
        <property name="documentService" ref="documentService" />
    </bean>

    <bean id="rolePermissionController" class="com.tech4.corp.controller.RolePermissionController" scope="prototype" parent="basicController">
        <property name="roleService" ref="roleService" />
        <property name="categoryService" ref="categoryService" />
    </bean>

    <bean id="userController" class="com.tech4.corp.controller.UserController" scope="prototype" parent="basicController">
        <property name="userService" ref="userService" />
    </bean>

    <bean id="addEditUserController" class="com.tech4.corp.controller.AddEditUserController" scope="prototype" parent="basicController">
        <property name="userService" ref="userService" />
    </bean>

    <bean id="userRoleController" class="com.tech4.corp.controller.UserRoleController" scope="prototype" parent="basicController">
        <property name="userService" ref="userService" />
    </bean>
    
    <bean id="assignRoleController" class="com.tech4.corp.controller.AssignRoleController" scope="prototype" parent="basicController">
        <property name="userService" ref="userService" />
    </bean>

    <bean id="detailDocumentController" class="com.tech4.corp.controller.DetailDocumentController" scope="prototype" parent="basicController">
        <property name="documentTypeService" ref="documentTypeService" />
        <property name="documentService" ref="documentService" />
    </bean>
    
    <bean id="previewFileController" class="com.tech4.corp.controller.PreviewFileController" scope="prototype" parent="basicController"/>
    
    <bean id="treeDocumentTypeBandPopupController" class="com.tech4.corp.controller.TreeDocumentTypeBandPopupController" scope="prototype" parent="basicController">
        <property name="documentTypeService" ref="documentTypeService" />
    </bean>
    
    <bean id="treeDeptBandPopupController" class="com.tech4.corp.controller.TreeDeptBandPopupController" scope="prototype" parent="basicController">
        <property name="departmentService" ref="departmentService" />
    </bean>
    
    <bean id="staffController" class="com.tech4.corp.controller.StaffController" scope="prototype" parent="basicController">
        <property name="staffService" ref="staffService" />
        <property name="departmentService" ref="departmentService" />
    </bean>
    <bean id="addEditStaffController" class="com.tech4.corp.controller.AddEditStaffController" scope="prototype" parent="basicController">
        <property name="staffService" ref="staffService" />
    </bean>
    <bean id="detailStaffController" class="com.tech4.corp.controller.DetailStaffController" scope="prototype" parent="basicController">
        <property name="staffService" ref="staffService" />
    </bean>
    <bean id="addEditJobController" class="com.tech4.corp.controller.AddEditJobController" scope="prototype" parent="basicController">
        <property name="staffService" ref="staffService" />
    </bean>
    <bean id="addEditContractTypeController" class="com.tech4.corp.controller.AddEditContractTypeController" scope="prototype" parent="basicController">
        <property name="staffService" ref="staffService" />
    </bean>
    <bean id="addEditSalaryLmController" class="com.tech4.corp.controller.AddEditSalaryLmController" scope="prototype" parent="basicController">
        <property name="staffService" ref="staffService" />
    </bean>
    <bean id="addEditWorkProcessController" class="com.tech4.corp.controller.AddEditWorkProcessController" scope="prototype" parent="basicController">
        <property name="staffService" ref="staffService" />
    </bean>
    <bean id="departmentController" class="com.tech4.corp.controller.DepartmentController" scope="prototype" parent="basicController">
        <property name="departmentService" ref="departmentService" />
    </bean>
    <bean id="addEditDeptController" class="com.tech4.corp.controller.AddEditDeptController" scope="prototype" parent="basicController">
        <property name="departmentService" ref="departmentService" />
    </bean>
    <bean id="notificationController" class="com.tech4.corp.controller.NotificationController" scope="prototype" parent="basicController">
        <property name="startUpService" ref="startUpService"/>
    </bean>
</beans>