<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.2.xsd 
">
    
    <!--SERVICE beans-->
    <bean name="startUpService" class="com.tech4.corp.service.impl.StartUpServiceImpl">
        <property name="notificationDAO" ref="notificationDAO" />
        <property name="staffDAO" ref="staffDAO" />
    </bean>
    <bean name="mainService" class="com.tech4.corp.service.impl.MainServiceImpl">
        <property name="categoryDAO" ref="categoryDAO" />
        <property name="notificationDAO" ref="notificationDAO" />
    </bean>

    <bean name="userService" class="com.tech4.corp.service.impl.UserServiceImpl">
        <property name="userDAO" ref="userDAO"/>
        <property name="roleDAO" ref="roleDAO" />
        <property name="rightDAO" ref="rightDAO" />
        <property name="groupDAO" ref="groupDAO" />
        <property name="categoryDAO" ref="categoryDAO" />
        <property name="usersLoginDAO" ref="usersLoginDAO" />
    </bean>
    <!--manhnn1-->
    <bean name="documentTypeService" class="com.tech4.corp.service.impl.DocumentTypeServiceImpl">
        <property name="documentTypeDAO" ref="documentTypeDAO" />
        <property name="documentDAO" ref="documentDAO" />
    </bean>
    <!--manhnn1_end-->

    <bean name="categoryService" class="com.tech4.corp.service.impl.CategoryServiceImpl">
        <property name="categoryDAO" ref="categoryDAO" />
        <property name="rightDAO" ref="rightDAO" />
        <property name="groupDAO" ref="groupDAO" />
    </bean>

    <bean name="roleService" class="com.tech4.corp.service.impl.RoleServiceImpl">
        <property name="roleDAO" ref="roleDAO" />
        <property name="groupDAO" ref="groupDAO" />
        <property name="categoryDAO" ref="categoryDAO" />
    </bean>

    <bean name="documentService" class="com.tech4.corp.service.impl.DocumentServiceImpl">
        <property name="documentDAO" ref="documentDAO" />
        <property name="folderEntryDAO" ref="folderEntryDAO" />
        <property name="fileEntryDAO" ref="fileEntryDAO" />
    </bean>
    
    <bean name="staffService" class="com.tech4.corp.service.impl.StaffServiceImpl">
        <property name="staffDAO" ref="staffDAO" />
        <property name="departmentDAO" ref="departmentDAO" />
        <property name="jobDAO" ref="jobDAO" />
        <property name="contractTypeDAO" ref="contractTypeDAO" />
        <property name="salaryLandmarkDAO" ref="salaryLandmarkDAO" />
        <property name="workProcessDAO" ref="workProcessDAO" />
    </bean>
    
    <bean name="departmentService" class="com.tech4.corp.service.impl.DepartmentServiceImpl">
        <property name="departmentDAO" ref="departmentDAO" />
    </bean>
</beans>