<nb-layout>
  <nb-layout-column [nbSpinner]="isLoading" nbSpinnerMessage="processing..." nbSpinnerStatus="primary">
    <nb-card>
      <nb-card-header style="text-align: center">Run new model</nb-card-header>
      <nb-card-body>
        <nb-stepper #stepper>
          <nb-step [stepControl]="informationForm" label="Information">
            <form class="h-body-step" [formGroup]="informationForm">
              <nb-card>
                <span class="mt-2 ml-3 mb-3" style=" font-weight: bold">Select project</span>
                <div class="d-flex">
                  <div class="w-50 ml-2 ml-3 mb-1">
                    <ng-select
                      formControlName="projectId"
                      name="project"
                      [items]="projects"
                      bindLabel="projectName"
                      bindValue="projectId"
                      [clearable]="true"
                      appendTo=""
                    >
                    </ng-select>
                    <ng-container
                      *ngIf="informationForm.get('projectIndex').invalid && informationForm.get('projectIndex').touched ">
                      <ngx-inline-message [formName]="informationForm.get('projectIndex')"
                                          [message]="'Project'"></ngx-inline-message>
                    </ng-container>
                  </div>
                  <button type="button" class="ml-2 px-3 mb-1" ghost size="large"
                          (click)="dialogService.open(newProject,{context: { action: 'add'}, closeOnEsc: true, hasBackdrop: true}); this.newProjectForm.reset()"
                          nbButton status="success">
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                  </button>
                  <!--                  <button type="button" class="ml-2 px-3 mb-1" ghost size="large"-->
                  <!--                          (click)="dialogService.open(newProject,{context: { action: 'edit', id:}, closeOnEsc: true, hasBackdrop: true}); this.newProjectForm.reset()"-->
                  <!--                          nbButton status="success">-->
                  <!--                    <nb-icon icon="edit-2-outline"></nb-icon>-->
                  <!--                  </button>-->
                </div>
              </nb-card>
              <nb-card>
                <span class="mt-2 ml-3" style="font-weight: bold">Model information</span>
                <div class="mt-2 ml-4 mr-3">
                  <span>Model name <em>*</em></span>
                  <input class="mt-1" nbInput fullWidth trim="blur" formControlName="modelName" name="modelName"
                         requiredmaxlength="255" pattern="^((?!%).)*$"/>
                  <ng-container
                    *ngIf="informationForm.get('modelName').invalid && informationForm.get('modelName').touched ">
                    <ngx-inline-message [formName]="informationForm.get('modelName')"
                                        [message]="'Model name'"></ngx-inline-message>
                  </ng-container>
                </div>
                <div class="mt-2 ml-4 mr-3">
                  <span>Model description</span>
                  <textarea class="mt-1" nbInput rows="3" fullWidth trim="blur" formControlName="description"
                            pattern="^((?!%).)*$"></textarea>
                  <ng-container
                    *ngIf="informationForm.get('description').invalid && informationForm.get('description').touched ">
                    <ngx-inline-message [formName]="informationForm.get('description')"
                                        [message]="'Model description'"></ngx-inline-message>
                  </ng-container>
                </div>
                <div class="mt-2 ml-4 mr-3 mb-3">
                  <span>Run note <em>*</em></span>
                  <input class="mt-1" nbInput fullWidth trim="blur" formControlName="runNote" pattern="^((?!%).)*$">
                  <ng-container
                    *ngIf="informationForm.get('runNote').invalid && informationForm.get('runNote').touched ">
                    <ngx-inline-message [formName]="informationForm.get('runNote')"
                                        [message]="'Run note'"></ngx-inline-message>
                  </ng-container>
                </div>
              </nb-card>
              <nb-card>
                <span class="mt-2 ml-3" style=" font-weight: bold">Task <em>*</em></span>
                <div class="mb-1">
                  <nb-checkbox style="margin-left: 10%" formControlName="train" disabled>Train</nb-checkbox>
                  <nb-checkbox style="margin-left: 30%" formControlName="test" disabled>Test</nb-checkbox>
                  <nb-checkbox style="margin-left: 30%" formControlName="inference" hidden>Inference</nb-checkbox>
                </div>
              </nb-card>
              <div class="d-flex justify-content-end">
                <button nbButton class="mb-1" nbStepperNext
                        [disabled]="informationForm.invalid">
                  next
                </button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="dataSrcForm" label="Browser data source">
            <form class="h-body-step" [formGroup]="dataSrcForm">
              <nb-card>
                <span class="mt-2 ml-3 mb-3" style=" font-weight: bold">Browse existing connection</span>
                <div class="d-flex">
                  <div class="ml-2 ml-3 mb-1" style="width: 48.5% !important;">
                    <ng-select
                      name="project"
                      formControlName="connectionId"
                      [clearable]="true"
                      appendTo=""
                      [items]="connections"
                      bindValue="connectionId"
                      bindLabel="connectionName"
                    >
                    </ng-select>
                    <ng-container
                      *ngIf="dataSrcForm.get('connectionId').invalid && dataSrcForm.get('connectionId').touched ">
                      <ngx-inline-message [formName]="dataSrcForm.get('connectionId')"
                                          [message]="'Browse existing connection'"></ngx-inline-message>
                    </ng-container>
                  </div>
                  <button type="button" class="ml-2 px-3 mb-1" ghost size="medium" nbButton status="success"
                          (click)="dialogService.open(newConnection,{context: { action: 'add'}, closeOnEsc: true, hasBackdrop: true}); hideStatus = false; newConnectionForm.reset()">
                    <nb-icon icon="plus-circle-outline"></nb-icon>
                  </button>
                  <button type="button" class="px-3 mb-1" ghost size="medium" nbButton status="warning"
                          (click)="getDataConnection();dialogService.open(newConnection,{context: { action: 'update'}, closeOnEsc: true, hasBackdrop: true}); hideStatus = false;">
                    <nb-icon icon="edit-2-outline"></nb-icon>
                  </button>
                </div>
              </nb-card>
              <div class="d-flex">
                <nb-card class="w-100">
                  <span class="mt-2 ml-2 mb-3" style=" font-weight: bold">View parameter</span>
                  <div class="ml-3 mr-3 mb-3">
                    <ngx-datatable
                      #table
                      class="dark"
                      [columnMode]="'flex'"
                      [rows]="rowParameter"
                      [columns]="parametersColumn"
                      [messages]="{totalMessage:'items'}"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      [loadingIndicator]="true"
                      [limit]="10"
                      rowHeight="auto"
                    >
                      <ng-container *ngFor="let col of parametersColumn">
                        <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [sortable]="false"
                                              [flexGrow]="col.flex">
                          <ng-template let-column="column" ngx-datatable-header-template>{{col.name}}</ng-template>
                          <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template
                                       let-row="rows">
                            <ng-container [ngSwitch]="col.prop">
                              <ng-container *ngSwitchCase="'stt'">
                                <span class="custom-show-data" [title]="value">
                                  {{rowIndex + 1}}
                                </span>
                              </ng-container>
                              <ng-container *ngSwitchDefault>
                                <span class="custom-show-data" [title]="value">
                                  {{value}}
                                </span>
                              </ng-container>
                            </ng-container>
                          </ng-template>
                        </ngx-datatable-column>
                      </ng-container>
                    </ngx-datatable>
                  </div>
                </nb-card>
              </div>
              <nb-card>
                <span class="mt-2 ml-2 mb-3" style=" font-weight: bold">Select data table</span>
                <div class="d-flex" style="align-items: center">
                  <span class="mt-1 ml-3" style="width: 15%">Training table</span>
                  <div class="w-50">
                    <nb-form-field>
                      <input nbInput fullWidth formControlName="trainingTable"
                             [value]="dataSrcForm.value.trainingTable" readonly>
                      <button nbSuffix nbButton ghost (click)="clearDataTable('trainingTable')">
                        <nb-icon icon="close-outline"
                                 pack="eva">
                        </nb-icon>
                      </button>
                    </nb-form-field>
                    <ng-container
                      *ngIf="dataSrcForm.get('trainingTable').invalid && dataSrcForm.get('trainingTable').touched ">
                      <ngx-inline-message [formName]="dataSrcForm.get('trainingTable')"
                                          [message]="'Training table'"></ngx-inline-message>
                    </ng-container>
                  </div>
                  <button nbButton size="large" class="ml-5" style="text-transform: capitalize;" ghost
                          (click)="dialogService.open(sqlEditor,{context: { action: 'trainingTable'}, closeOnEsc: true, hasBackdrop: true});sqlText=dataSrcForm.value.trainingTable; sqlError= ''">
                    <nb-icon icon="file-text"></nb-icon>
                    Custom SQL
                  </button>
                  <button nbButton size="medium" class="ml-5 custom-button"
                          (click)="dialogService.open(sampleData,{context: { action: 'trainingTable'}, closeOnEsc: true, hasBackdrop: true}); sqlError= ''">
                    Show sample
                  </button>
                </div>
                <div class="d-flex mt-1" style="align-items: center">
                  <span class="mt-1 ml-3" style="width: 15%">Validation table</span>
                  <div class="w-50">
                    <nb-form-field>
                      <input nbInput fullWidth formControlName="validationTable"
                             [value]="dataSrcForm.value.validationTable" readonly>
                      <button nbSuffix nbButton ghost (click)="clearDataTable('validationTable')">
                        <nb-icon icon="close-outline"
                                 pack="eva">
                        </nb-icon>
                      </button>
                    </nb-form-field>
                    <ng-container
                      *ngIf="dataSrcForm.get('validationTable').invalid && dataSrcForm.get('validationTable').touched ">
                      <ngx-inline-message [formName]="dataSrcForm.get('validationTable')"
                                          [message]="'Validation table'"></ngx-inline-message>
                    </ng-container>
                  </div>
                  <button nbButton size="large" class="ml-5" style="text-transform: capitalize;" ghost
                          (click)="dialogService.open(sqlEditor,{context: { action: 'validationTable'}, closeOnEsc: true, hasBackdrop: true});sqlText=dataSrcForm.value.validationTable; sqlError= ''">
                    <nb-icon icon="file-text"></nb-icon>
                    Custom SQL
                  </button>
                  <button nbButton size="medium" class="ml-5 custom-button"
                          (click)="dialogService.open(sampleData,{context: { action: 'validationTable'}, closeOnEsc: true, hasBackdrop: true}); sqlError= ''">
                    Show sample
                  </button>
                </div>
                <div class="d-flex mt-1 mb-3" style="align-items: center">
                  <span class="mt-1 ml-3" style="width: 15%">Testing table</span>
                  <div class="w-50">
                    <nb-form-field>
                      <input nbInput fullWidth formControlName="testingTable"
                             [value]="dataSrcForm.value.testingTable" readonly>
                      <button nbSuffix nbButton ghost (click)="clearDataTable('testingTable')">
                        <nb-icon icon="close-outline"
                                 pack="eva">
                        </nb-icon>
                      </button>
                    </nb-form-field>
                    <ng-container
                      *ngIf="dataSrcForm.get('testingTable').invalid && dataSrcForm.get('testingTable').touched ">
                      <ngx-inline-message [formName]="dataSrcForm.get('testingTable')"
                                          [message]="'Testing table'"></ngx-inline-message>
                    </ng-container>
                  </div>
                  <button nbButton size="large" class="ml-5" style="text-transform: capitalize;" ghost
                          (click)="dialogService.open(sqlEditor,{context: { action: 'testingTable'}, closeOnEsc: true, hasBackdrop: true});sqlText=dataSrcForm.value.testingTable; sqlError= ''">
                    <nb-icon icon="file-text"></nb-icon>
                    Custom SQL
                  </button>
                  <button nbButton size="medium" class="ml-5 custom-button"
                          (click)="dialogService.open(sampleData,{context: { action: 'testingTable'}, closeOnEsc: true, hasBackdrop: true}); sqlError= ''">
                    Show sample
                  </button>
                </div>
                <!--<div class="d-flex mt-1 mb-2" style="align-items: center">
                  <span class="mt-1 ml-3" style="width: 15%">Inference table</span>
                  <input style="width: 50%" nbInput fullWidth formControlName="inferenceTable"
                         [value]="dataSrc.value.inferenceTable" readonly>
                  <button nbButton size="large" class="ml-5" style="text-transform: capitalize;" ghost
                          (click)="dialogService.open(sqlEditor,{context: { action: 'inferenceTable'}, closeOnEsc: true, hasBackdrop: true});sqlText= ''; sqlError= ''">
                    <nb-icon icon="file-text"></nb-icon>
                    Custom SQL
                  </button>
                  <button nbButton size="medium" class="ml-5 custom-button"
                          (click)="dialogService.open(sampleData,{context: { action: 'inferenceTable'}, closeOnEsc: true, hasBackdrop: true}); sqlError= ''">
                    Show sample
                  </button>
                </div>-->
              </nb-card>
              <div class="d-flex justify-content-end ">
                <button nbButton class="mb-3" nbStepperPrevious>prev</button>
                <button nbButton class="ml-3 mb-3" nbStepperNext [disabled]="dataSrcForm.invalid">
                  next
                </button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="thirdForm" label="Select features, label">
            <div class="h-body-step">
              <div class="d-flex">
                <nb-card class="w-50 h-75">
                  <span style="font-weight: bold" class="mt-2 ml-2">
                    Select feature columns
                  </span>
                  <nb-card class="ml-2 mr-2 mt-2">
                    <p-pickList class="mb-2 mt-2" [source]="tableColumnFeaPro" [target]="tableColumnFea" dragdrop="true"
                                [responsive]="true" [sourceStyle]="{'height':'300px'}"
                                [targetStyle]="{'height':'300px'}"
                                filterBy="name"
                                sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name"
                                (onMoveAllToSource)="false">
                      <ng-template let-product pTemplate="item">
                        <div class="product-item">
                          <div class="product-list-detail">
                            <span class="p-mb-2 custom-show-data" [title]="product.name">{{product.name}}</span>
                          </div>
                        </div>
                      </ng-template>
                    </p-pickList>
                  </nb-card>
                </nb-card>
                <nb-card class="w-50 ml-2">
                  <span style="font-weight: bold" class="mt-2 ml-2">
                    Select output columns
                  </span>
                  <nb-card class="ml-2 mr-2 mt-2">
                    <p-pickList [source]="tableColumnOutPro" [target]="tableColumnOut"
                                class=" mb-2 mt-2" dragdrop="true"
                                [responsive]="true" [sourceStyle]="{'height':'300px'}"
                                [targetStyle]="{'height':'300px'}"
                                filterBy="name"
                                sourceFilterPlaceholder="Search by name" targetFilterPlaceholder="Search by name">
                      <ng-template let-product pTemplate="item">
                        <div class="product-item">
                          <div class="product-list-detail">
                            <span class="p-mb-2" [title]="product.name">{{product.name}}</span>
                          </div>
                        </div>
                      </ng-template>
                    </p-pickList>
                  </nb-card>
                  <span style="font-weight: bold" class="mt-2 ml-2">
                    Select lable column
                  </span>
                  <nb-card class="ml-2 mr-2 mt-2">
                    <div class=" mt-2 ml-2 mb-2">
                      <div class="w-75">
                        <ng-select
                          [(ngModel)]="labelColumn"
                          [items]="labelColumns"
                          bindLabel="name"
                          bindValue="name"
                          clearable=true
                          searchable=true
                          appendTo="">
                        </ng-select>
                      </div>
                      <div class="d-block">
                        <nb-checkbox class="d-block" [(ngModel)]="_raw_prediction"
                                     *ngIf="labelColumn">{{labelColumn + '_raw_prediction'}}
                        </nb-checkbox>
                        <nb-checkbox class="d-block" [(ngModel)]="_prediction"
                                     *ngIf="labelColumn">{{labelColumn + '_prediction'}}
                        </nb-checkbox>
                        <nb-checkbox class="d-block" [(ngModel)]="_probability"
                                     *ngIf="labelColumn">{{labelColumn + '_probability'}}
                        </nb-checkbox>
                      </div>
                    </div>
                  </nb-card>
                </nb-card>
              </div>
              <div class="d-flex justify-content-end ">
                <button nbButton class="mb-3" nbStepperPrevious>prev</button>
                <button nbButton class="ml-3 mb-3" nbStepperNext
                        [disabled]="tableColumnFea.length === 0 || !labelColumn || (!_raw_prediction && !_prediction && !_probability)">
                  next
                </button>
              </div>
            </div>
          </nb-step>
          <nb-step [stepControl]="selectModelForm" label="Select models">
            <form class="h-body-step" [formGroup]="selectModelForm">
              <nb-card>
                <span class="mt-2 ml-2 font-bold ">Select mode</span>
                <nb-radio-group class="d-flex mt-2 mb-2 ml-2" name="modelMode" formControlName="modelMode">
                  <nb-radio [value]="0" (click)="resetMode()">Auto select model</nb-radio>
                  <nb-radio [value]="1" class="ml-5" (click)="nexstep()">Manual define model</nb-radio>
                </nb-radio-group>
              </nb-card>
              <nb-card>
                <span class="mt-2 ml-2 font-bold ">Configuration</span>
                <nb-radio-group class="d-flex mt-2 mb-2 ml-2" name="algorithmType" formControlName="algorithmType">
                  <nb-radio [value]="0" (click)="getModelType()">Classification</nb-radio>
                  <nb-radio [value]="1" (click)="getModelType()" class="ml-5">Regression</nb-radio>
                </nb-radio-group>
                <div class="d-flex mt-2 ml-2">
                  <div class="d-block w-50 mt-2">
                    <span class="ml-3 font-bold">Model</span>
                    <nb-card class="mt-2" style="height: 300px; overflow: auto;">
                      <div *ngIf="selectModelForm.value.modelMode === 0" class="mt-2">
                        <div *ngFor="let item of modelTypeArr; index as index">
                          <nb-checkbox [checked]="item.checked" class="mt-2 ml-3"
                                       (change)="changeCheckbox($event, index)">{{item.modelTypeName}}
                          </nb-checkbox>
                        </div>
                      </div>
                      <div *ngIf="selectModelForm.value.modelMode === 1"
                           class="h-100 d-flex justify-content-between flex-column">
                        <nb-list>
                          <nb-list-item *ngFor="let item of subModel; index as index" (click)="getParam(index)"
                                        [class.menu-active]="index === activeMenu">
                            {{ item.subModelName }}
                          </nb-list-item>
                        </nb-list>
                        <button class="mb-0"
                                (click)="dialogService.open(newModel,{context: { action: ''}, closeOnEsc: true, hasBackdrop: true}); newModelForm.reset()"
                                class="w-100 align-items-end" nbButton>
                          <nb-icon size="large" icon="plus-circle-outline"></nb-icon>
                        </button>
                      </div>
                    </nb-card>
                  </div>
                  <div class="d-block w-50 mt-2 ml-5">
                    <span class="ml-3 font-bold" *ngIf="selectModelForm.value.modelMode === 0">Search Space</span>
                    <span class="ml-3 font-bold" *ngIf="selectModelForm.value.modelMode === 1">Parameter</span>
                    <nb-card class="mt-2 ml-2 mr-2" style="height: 300px; overflow: hidden;">
                      <div *ngIf="selectModelForm.value.modelMode === 0">
                        <nb-tabset class="scroll-tabmenu">
                          <nb-tab *ngFor="let item of modelTypeArrFilted; index as index"
                                  [active]="index === (modelTypeArrFilted.length - 1)"
                                  [tabTitle]="item.modelTypeName" style="height: 250px;  overflow: auto;">
                            <div *ngFor="let value of parameterArr[index]; let paraIndex = index" class="mt-3 d-flex">
                              <span class="w-25">{{value.parameterName}} <em>(*)</em></span>
                              <div class="w-75">
                                <div *ngIf="value.dataType !== 0" class="d-flex w-100">
                                  <input class="w-25" hidden formControlName="parameterName"
                                         [value]="value.parameterName">
                                  <input class="w-25" type="number" nbInput
                                         [placeholder]="value.dataType === 2 ? parameterArr[index][paraIndex].uniform === 2 ? 'Mu' : 'Min' : 'Min'"
                                         [value]="value.min" (keydown)="checkNumber($event)"
                                         (change)="changeMin($event, index, paraIndex)"
                                         [status]="parameterArr[index][paraIndex].min ? 'basic': 'danger'"
                                  >
                                  <input class="ml-4 w-25" type="number" nbInput
                                         [placeholder]="value.dataType === 2 ? parameterArr[index][paraIndex].uniform === 2 ? 'Sigma' : 'Max' : 'Max'"
                                         [value]="value.max" (keydown)="checkNumber($event)"
                                         (change)="changeMax($event, index, paraIndex)"
                                         [status]="parameterArr[index][paraIndex].max ? 'basic' : 'danger'">
                                  <div class="ml-4 w-25" nbInput
                                       [ngStyle]="parameterArr[index][paraIndex].uniform ? '' :{border:'1px solid #ff3d71'}">
                                    <ng-select
                                      [items]="uniforms"
                                      formControlName="uniform"
                                      bindValue="value"
                                      bindLabel="name"
                                      clearable
                                      appendTo=""
                                      (change)="changeUniforms($event, index, paraIndex)"
                                    ></ng-select>
                                  </div>
                                  <input class="ml-4 w-20" type="number" nbInput placeholder="Step" [value]="value.step"
                                         (keydown)="checkNumber($event)"
                                         [status]="parameterArr[index][paraIndex].step >= 0 ? 'basic' : 'danger'"
                                         (change)="changeStep($event, index, paraIndex)"
                                         [disabled]="value.dataType !== 1">
                                </div>
                                <div *ngIf="value.dataType === 0" class="w-100"
                                     [ngStyle]="parameterArr[index][paraIndex].parameterValue ? '' :{border:'1px solid #ff3d71'}">
                                  <ng-select
                                    [items]="paramString"
                                    formControlName="paramString"
                                    multiple="true"
                                    appendTo=""
                                    searchable="true"
                                    clearable="true"
                                    bindLabel="value"
                                    bindValue="id"
                                    (change)="changeValueString($event, index, paraIndex)"
                                  >
                                  </ng-select>
                                </div>
                                <div
                                  *ngIf="value.dataType === 1 || (value.dataType === 2 ? parameterArr[index][paraIndex].uniform === 1 : false)">
                                <span class="text-danger" style="font-size: 13px"
                                      *ngIf="parameterArr[index][paraIndex].max >=0 && parameterArr[index][paraIndex].min > parameterArr[index][paraIndex].max">
                                    Parameter min always < max
                                  </span>
                                </div>
                              </div>
                            </div>
                          </nb-tab>
                        </nb-tabset>
                      </div>
                      <div *ngIf="selectModelForm.value.modelMode === 1" class="mt-2 ml-2 mr-4" style="overflow: auto">
                        <div *ngIf="subModelDTO">
                          <span *ngIf="subModelName" class="font-weight-bold"
                                style="text-align: center"> {{subModelName}}</span>
                          <div *ngFor="let item of subModelDTO; index as index" class="mt-3">
                            <span>{{item.parameterName}} <em>(*)</em></span>
                            <input nbInput type="text" class="mb-2" [value]="item.parameterValue" fullWidth
                                   [status]="item.parameterValue ? 'basic' : 'danger'"
                                   (change)="getValue($event, index)">
                          </div>
                        </div>
                      </div>
                    </nb-card>
                  </div>
                </div>
                <div class="ml-3 d-flex w-100" style="align-items: center">
                  <div class="w-40">
                    <span class="font-bold">Metrics <em>(*)</em></span>
                    <div class="w-100 mt-1">
                      <ng-select [items]="metrics"
                                 formControlName="metrics"
                                 bindLabel="name"
                                 bindValue="id"
                                 placeholder="Select metric"
                                 appendTo=""
                                 clearable
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="w-40 ml-12" *ngIf="selectModelForm.value.autoTurningType === 3">
                    <span class="font-blue mb-1">Number of folds <em>(*)</em></span>
                    <input type="number" nbInput fullWidth formControlName="numberOfFolds">
                  </div>
                </div>
                <div class="ml-3 d-flex w-100" style="align-items: center">
                  <div class="w-40">
                    <span class="d-block mt-2">Auto tuning type <em>(*)</em></span>
                    <div class="w-100 mt-1">
                      <ng-select [items]="turningType"
                                 formControlName="autoTurningType"
                                 bindLabel="name"
                                 bindValue="id"
                                 placeholder="Select auto tunning type"
                                 appendTo=""
                                 clearable
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div class="w-40 ml-12" *ngIf="selectModelForm.value.autoTurningType === 2">
                    <span class="d-block mt-2 font-blue">Ratio for Train <em>(*)</em></span>
                    <input type="number" nbInput fullWidth formControlName="ratio"
                           (change)="checkMaxMinNumber($event, 'ratio')">
                    <span *ngIf="validateNumberRatio" class="text-danger" style="font-size: 13px">Ratio for Train max value < 1 and min value >0</span>
                  </div>
                </div>
                <span class="mt-2 ml-2 font-bold ">Settings</span>
                <div class="d-flex" *ngIf="selectModelForm.value.modelMode === 0">
                  <div class="w-40 ml-3">
                    <span class="d-block mt-2 font-blue ">Max trial times <em>(*)</em></span>
                    <input type="number" nbInput fullWidth formControlName="maxTrialTime"
                           (keydown)="checkNumber($event,true)">
                    <ng-container
                      *ngIf="selectModelForm.get('maxTrialTime').invalid && selectModelForm.get('maxTrialTime').touched ">
                      <ngx-inline-message [formName]="selectModelForm.get('maxTrialTime')"
                                          [message]="'Max trial times'"></ngx-inline-message>
                    </ng-container>

                  </div>
                  <div class="w-40 ml-12">
                    <span class="d-block mt-2 font-blue">Checkpoint step <em>(*)</em></span>
                    <input type="number" nbInput fullWidth formControlName="checkpointStep"
                           (keydown)="checkNumber($event,true)">
                    <ng-container
                      *ngIf="selectModelForm.get('checkpointStep').invalid && selectModelForm.get('checkpointStep').touched ">
                      <ngx-inline-message [formName]="selectModelForm.get('checkpointStep')"
                                          [message]="'Checkpoint step'"></ngx-inline-message>
                    </ng-container>
                    <span class="text-danger" style="font-size: 13px"
                          *ngIf="selectModelForm.value.maxTrialTime < selectModelForm.value.checkpointStep">
                                    Max trial times always >= Checkpoint step
                                  </span>
                  </div>
                </div>
                <div class="d-flex mt-1">
                  <div class="w-40 ml-3">
                    <span class="d-block mt-2 font-blue">Data subsampling ratio <em>(*)</em></span>
                    <input type="number" nbInput fullWidth formControlName="dataSubsamplingRatio"
                           (change)="checkMaxMinNumber($event,'dataSubsamplingRatio')">
                    <span *ngIf="validateNumberSub" class="text-danger" style="font-size: 13px">Data subsampling ratio max value < 1 and min value >0</span>
                    <ng-container
                      *ngIf="selectModelForm.get('dataSubsamplingRatio').invalid && selectModelForm.get('dataSubsamplingRatio').touched ">
                      <ngx-inline-message [formName]="selectModelForm.get('dataSubsamplingRatio')"
                                          [message]="'Data subsampling ratio'"></ngx-inline-message>

                    </ng-container>
                  </div>
                  <div class="w-40 ml-12" *ngIf="selectModelForm.value.modelMode === 0">
                    <span class="d-block mt-2 font-blue ">Optimization algorithm <em>(*)</em></span>
                    <div class=" w-100">
                      <ng-select
                        formControlName="optimizationAlgorithm"
                        [items]="optimizationAlgorithms"
                        bindLabel="name"
                        bindValue="value"
                        appendTo="">
                      </ng-select>
                      <ng-container
                        *ngIf="selectModelForm.get('optimizationAlgorithm').invalid && selectModelForm.get('optimizationAlgorithm').touched ">
                        <ngx-inline-message [formName]="selectModelForm.get('optimizationAlgorithm')"
                                            [message]="'Optimization algorithm'"></ngx-inline-message>

                      </ng-container>

                    </div>
                  </div>
                </div>
                <div class="d-flex mt-1 ml-3 mb-3 justify-content-between w-40">
                  <nb-checkbox formControlName="allowPersist">Allow persist</nb-checkbox>
                  <nb-checkbox formControlName="multiclass">Multiclass</nb-checkbox>
                </div>
              </nb-card>
              <div class="d-flex justify-content-end ">
                <button nbButton class="mb-3" nbStepperPrevious>prev</button>
                <button nbButton class="ml-3 mb-3" nbStepperNext
                        [disabled]="selectModelForm.invalid|| validateNumberRatio || validateNumberSub || selectModelForm.value.maxTrialTime < selectModelForm.value.checkpointStep">
                  next
                </button>
              </div>
            </form>
          </nb-step>
          <nb-step [stepControl]="fifthForm" label="Select saved location">
            <div class="h-body-step">
              <nb-card>
                <span class="mt-2 ml-2 font-bold">Output table</span>
                <div class="d-flex mb-2 mt-2 ml-3">
                  <div class="w-25">
                    <span class="d-block font-blue ">Name of output table</span>
                    <input type="text" nbInput class="w-100" fullWidth [(ngModel)]="outputTableName"
                           [status]="isOutputTableName ? 'danger' :'basic'">
                    <span *ngIf="!outputTableName" class="text-danger" style="font-size: 13px">Name of output table is required.</span>
                  </div>
                  <div class="d-block w-25 ml-3">
                    <span class="d-block font-blue ">Mode</span>
                    <div class="w-100">
                      <ng-select [items]="modeItem"
                                 [(ngModel)]="outputTableMode"
                                 bindLabel="name"
                                 bindValue="id"
                                 placeholder="Select mode"
                                 dropdownPosition="bottom"
                      ></ng-select>
                      <span *ngIf="!outputTableMode" class="text-danger"
                            style="font-size: 13px">Mode is required.</span>
                    </div>
                  </div>
                  <div class="d-block w-25 ml-3">
                    <span class="d-block font-blue">Partition</span>
                    <input type="text" nbInput fullWidth [(ngModel)]="outputTablePartition" trim="">
                    <span *ngIf="!outputTablePartition" class="text-danger" style="font-size: 13px">Partition is required.</span>
                  </div>
                </div>
              </nb-card>
              <nb-card>
                <span class="mt-2 ml-2 font-bold ">Select location to save model and result</span>
                <div class="d-flex mt-2">
                  <button type="button" ghost size="large" nbButton status="info" [disabled]="!pathResult"
                          (click)="backFolder()">
                    <nb-icon icon="arrow-back-outline"></nb-icon>
                  </button>
                  <button type="button" ghost size="large" nbButton status="info" [disabled]="arrPrePath.length === 0"
                          (click)="preFolder()" class="ml-1">
                    <nb-icon icon="arrow-forward-outline"></nb-icon>
                  </button>
                  <form class="ml-5 w-75" (ngSubmit)="getFolders(pathResult)">
                    <input type="text" nbInput fullWidth class="w-50"
                           [(ngModel)]="pathResult" name="path"
                           (keydown)="disableSave = true"
                    >
                    <span *ngIf="errorPath" class="text-danger ml-3" style="font-size: 13px">{{errorPath}}</span>
                  </form>
                </div>
                <ngx-datatable
                  #table
                  class="dark"
                  [columnMode]="'flex'"
                  [rows]="tempfolder"
                  [columns]="columns"
                  [messages]="{totalMessage:'items'}"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [loadingIndicator]="true"
                  [limit]="10"
                  rowHeight="auto"
                >
                  <ng-container *ngFor="let col of columns">
                    <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [sortable]="false"
                                          [flexGrow]="col.flex">
                      <ng-template let-column="column" ngx-datatable-header-template>{{col.name}}</ng-template>
                      <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template let-row="rows">
                        <ng-container [ngSwitch]="col.prop">
                          <ng-container *ngSwitchDefault>
                          <span class="custom-show-data" [title]="value">
                            {{value}}
                          </span>
                          </ng-container>
                          <ng-container *ngSwitchCase="'path'">
                            <button nbButton (click)="getFolders(value,true)" status="primary" ghost
                                    [disabled]="disableSave"
                                    *ngIf="tempfolder[rowIndex]?.isdir">
                              <nb-icon icon="folder-outline"></nb-icon>
                              {{value}}</button>
                            <span *ngIf="!tempfolder[rowIndex]?.isdir">
                              <nb-icon icon="file-outline"></nb-icon>
                              {{value}}
                            </span>
                          </ng-container>
                          <ng-container *ngSwitchCase="'modification_time'">
                            {{value| date: 'HH:mm:ss, dd/MM/yyyy'}}
                          </ng-container>
                        </ng-container>
                      </ng-template>
                    </ngx-datatable-column>
                  </ng-container>
                </ngx-datatable>
              </nb-card>
              <div class="d-flex justify-content-end ">
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton class="ml-3"
                        [disabled]="disableSave || !outputTableName || !outputTableMode || !outputTablePartition"
                        (click)="dialogService.open(confirmPopup, {context: { action: 'saveRun'}, closeOnEsc: true, hasBackdrop: true})">
                  <!--                        (click)="checkOutputTable()">-->

                  Save
                </button>
              </div>
            </div>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
<ng-template #newProject let-ref="dialogRef">
  <nb-card style="width: 30vw">
    <span class="font-weight-bold mt-3" style="text-align: center">Add new project</span>
    <form class="mt-3 ml-3 mr-3" [formGroup]="newProjectForm">
      <span>Project name <em>*</em></span>
      <input trim="blur" class="form-control mt-2" formControlName="projectName" name="projectName"
             pattern="^((?!%).)*$" nbInput required fullWidth (keyup)="uniqueProject($event)">
      <ng-container *ngIf="newProjectForm.get('projectName').invalid && newProjectForm.get('projectName').touched ">
        <ngx-inline-message [formName]="newProjectForm.get('projectName')"
                            [message]="'Project Name'"></ngx-inline-message>
      </ng-container>
      <span *ngIf="uniqueProjects" class="text-danger"
            style="font-size: 80%;font-weight: 400">Project Name is existing</span>
      <div class="mt-3">
        <span>Description</span>
        <input trim="blur" class="mt-2" formControlName="description" name="description" nbInput fullWidth>
      </div>
      <div class="d-flex justify-content-end mb-3 mr-3 mt-3">
        <button nbButton status="primary" class="mr-2" [disabled]="newProjectForm.invalid"
                (click)="dialogService.open(confirmPopup, {context: {action:'newProject', closeProject: ref}, closeOnEsc : true })">
          <nb-icon icon="save-outline"></nb-icon>
          Save
        </button>
        <button nbButton (click)="ref.close()" status="danger">
          Close
        </button>
      </div>
    </form>
  </nb-card>
</ng-template>
<ng-template #newConnection let-ref="dialogRef" let-data>
  <nb-card class="w30">
    <nb-card-header>Database Connection</nb-card-header>
    <form class="mt-3 ml-3 mr-3" [formGroup]="newConnectionForm">
      <span>Connection Name<em>*</em> :</span>
      <input trim="blur" class="form-control mt-2" formControlName="connectionName" name="connectionName"
             pattern="^((?!%).)*$" maxlength="255" nbInput required fullWidth>
      <ng-container
        *ngIf="newConnectionForm.get('connectionName').invalid && newConnectionForm.get('connectionName').touched ">
        <ngx-inline-message [formName]="newConnectionForm.get('connectionName')"
                            [message]="'Connection Name'"></ngx-inline-message>
      </ng-container>
      <div class="mt-2 m-2">
        <span class="font-weight-bold">Settings</span>
        <div class="mt-2">
          <span>Custom Connetion URL:</span>
          <input trim="blur" class="form-control mt-1" formControlName="connectionUrl" name="connectionUrl"
                 maxlength="255" nbInput fullWidth>
        </div>
        <div class="mt-2">
          <span>Custom Driver Class Name:</span>
          <input trim="blur" class="form-control mt-1" formControlName="driverClassName" name="driverClassName"
                 maxlength="255"
                 nbInput fullWidth>
        </div>
        <div class="mt-2">
          <span>User Name:</span>
          <input trim="blur" class="form-control mt-1" formControlName="userName" name="userName" maxlength="255"
                 nbInput fullWidth>
        </div>
        <div class="mt-2">
          <span>Password:</span>
          <input trim="blur"
                 name="password"
                 type="password" class="form-control mt-1" formControlName="passWord" name="passWord" maxlength="255"
                 nbInput fullWidth>
        </div>
      </div>
      <div style="text-align: center">
         <span [class]="checkConn ? 'text-success' : 'text-danger'" *ngIf="hideStatus">
                    Status: {{checkConn ? 'Success' : 'Fail'}}</span>
      </div>

      <div class="d-flex justify-content-end mb-3 mr-3 mt-3">
        <button nbButton status="primary" class="mr-2" [disabled]="newConnectionForm.invalid"
                (click)="testConnection()">
          <nb-icon icon="save-outline"></nb-icon>
          Test
        </button>
        <button nbButton status="primary" class="mr-2" [disabled]="newConnectionForm.invalid||!checkConn"
                (click)="dialogService.open(confirmPopup,{context: { action: 'connection', closeConnection: ref }, closeOnEsc: true, hasBackdrop: true})">
          <nb-icon icon="save-outline"></nb-icon>
          Save
        </button>
        <button nbButton (click)="ref.close()" status="danger">
          Close
        </button>
      </div>
    </form>
  </nb-card>
</ng-template>
<ng-template #sqlEditor let-ref="dialogRef" let-data>
  <nb-card class="w35-h38">
    <nb-card-header class="background-header">
      <span>SQL Editor</span>
    </nb-card-header>
    <nb-card-body>
      <form class="mt-3 ml-3 mr-3">
        <textarea nbInput rows="7" fullWidth [(ngModel)]="sqlText" name="sql"></textarea>
      </form>
      <span *ngIf="sqlError" class="text-danger">
        {{sqlError}}
      </span>
      <div class="d-flex justify-content-end mt-3 mr-3">
        <button nbButton (click)="submitSQL(data.action,ref)" [disabled]="!sqlText">
          Done
        </button>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #sampleData let-ref="dialogRef" let-data>
  <nb-card class="custom-table">
    <nb-card-header class="background-header">
      <span>Sample data</span>
    </nb-card-header>
    <nb-card-body>
      <div *ngIf="data.action === 'trainingTable'">
      <span *ngIf="sqlError" class="text-danger">
        {{sqlError}}
      </span>
        <table class="mt-2 mb-2 ml-2 mr-2">
          <tr>
            <th *ngFor="let key of keyTrainingTable | keyvalue">
              <span>{{key.key}}</span>
            </th>
          </tr>
          <tr *ngFor="let itemArr of trainingTable">
            <td *ngFor="let item of itemArr | keyvalue">
              <span> {{item.value}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="data.action === 'validationTable'">
      <span *ngIf="sqlError" class="text-danger">
        {{sqlError}}
      </span>
        <table class="mt-2 mb-2 ml-2 mr-2">
          <tr>
            <th *ngFor="let key of keyValidateTable | keyvalue">
              <span>{{key.key}}</span>
            </th>
          </tr>
          <tr *ngFor="let itemArr of validateTable">
            <td *ngFor="let item of itemArr | keyvalue">
              <span> {{item.value}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="data.action === 'testingTable'">
      <span *ngIf="sqlError" class="text-danger">
        {{sqlError}}
      </span>
        <table class="mt-2 mb-2 ml-2 mr-2">
          <tr>
            <th *ngFor="let key of keyTestingTable | keyvalue">
              <span>{{key.key}}</span>
            </th>
          </tr>
          <tr *ngFor="let itemArr of testingTable">
            <td *ngFor="let item of itemArr | keyvalue">
              <span> {{item.value}}</span>
            </td>
          </tr>
        </table>
      </div>
      <div *ngIf="data.action === 'inferenceTable'">
      <span *ngIf="sqlError" class="text-danger">
        {{sqlError}}
      </span>
        <table class="mt-2 mb-2 ml-2 mr-2">
          <tr>
            <th *ngFor="let key of keyInferenceTable | keyvalue">
              <span>{{key.key}}</span>
            </th>
          </tr>
          <tr *ngFor="let itemArr of inferenceTable">
            <td *ngFor="let item of itemArr | keyvalue">
              <span> {{item.value}}</span>
            </td>

          </tr>
        </table>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
<ng-template #newModel let-ref="dialogRef">
  <nb-card class="w30">
    <nb-card-header>Add new model</nb-card-header>
    <form class="mt-3 ml-3 mr-3" [formGroup]="newModelForm">
      <span>Model sub Name<em>*</em> :</span>
      <input trim="blur" class="form-control mt-2"
             pattern="^((?!%).)*$" maxlength="255" nbInput required fullWidth (keyup)="checkUnique($event)"
             formControlName="subModelName">
      <ng-container *ngIf="newModelForm.get('subModelName').invalid && newModelForm.get('subModelName').touched ">
        <ngx-inline-message [formName]="newModelForm.get('subModelName')"
                            [message]="'Model sub Name'"></ngx-inline-message>
      </ng-container>
      <span *ngIf="uniqueSubModel" class="small text-danger d-block">Model Sub Name is existing</span>
      <span class="mt-3">Model type</span>
      <div class="mt-2">
        <ng-select
          formControlName="modelTypeId"
          [items]="modelTypeArr"
          bindValue="modelTypeId"
          bindLabel="modelTypeName"
          clearable="true"
          appendTo=""
        >
        </ng-select>
      </div>
      <ng-container *ngIf="newModelForm.get('modelTypeId').invalid && newModelForm.get('modelTypeId').touched ">
        <ngx-inline-message [formName]="newModelForm.get('modelTypeId')"
                            [message]="'Model type'"></ngx-inline-message>
      </ng-container>
      <div class="d-flex justify-content-end mb-3 mr-3 mt-3">
        <button nbButton status="primary" class="mr-2" [disabled]="newModelForm.invalid || uniqueSubModel"
                (click)="saveSubModel(ref)">
          <nb-icon icon="save-outline"></nb-icon>
          Done
        </button>
        <button nbButton (click)="ref.close()" status="danger">
          Close
        </button>
      </div>
    </form>
  </nb-card>
</ng-template>
<ng-template #confirmPopup let-ref="dialogRef" let-data>
  <nb-card style="width: 500px;height: 250px;">
    <nb-card-header>Confirm action</nb-card-header>
    <nb-card-body>
      <span *ngIf="data.action === 'saveRun'">Do you want to save Model</span>
      <span *ngIf="data.action === 'connection'">Do you want to save Connection</span>
      <span *ngIf="data.action === 'newProject'">Do you want to save Project</span>
    </nb-card-body>
    <nb-card-footer style="text-align: right;">
      <button *ngIf="data.action === 'saveRun'" nbButton status="primary" type="submit" (click)="checkStep5(ref)">
        <nb-icon icon="save-outline"></nb-icon>
        Save
      </button>
      <button *ngIf="data.action === 'connection'" nbButton status="primary" type="submit"
              (click)="createConnection(ref,data.closeConnection)">
        <nb-icon icon="save-outline"></nb-icon>
        Save
      </button>
      <button *ngIf="data.action === 'newProject'" nbButton status="primary" type="submit"
              (click)="addProject(ref, data.closeProject)">
        <nb-icon icon="save-outline"></nb-icon>
        Save
      </button>

      <button class="ml-2" nbButton type="button" status="danger" (click)="ref.close()">Close</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
