<nb-layout>
  <nb-layout-column  [nbSpinner]="isLoading" [nbSpinnerMessage]="'Searching...'"
                     nbSpinnerStatus="primary">
    <nb-card class="h-body" >
      <nb-card-header class="font-center ">
        <span class="mt-2">Project List</span>
      </nb-card-header>
      <nb-card-body style="overflow-x: hidden;">
        <div class="screen">
          <nb-card class="mt-3 ml-5 mr-5">
            <form [formGroup]="searProjectForm" class="mt-2 ml-3">
              <span class="font-weight-bold">Project list</span>
              <div class="d-flex mt-2">
                <div class="w-50 ml-1">
                  <span class="font-blue d-block">Project name</span>
                  <input type="text" trim="blur" nbInput fullWidth class="w-75" pattern="^((?!%).)*$"
                         formControlName="projectName">
                  <ng-container
                    *ngIf="searProjectForm.get('projectName').invalid">
                    <ngx-inline-message [formName]="searProjectForm.get('projectName')"
                                        [message]="'Project Name'"></ngx-inline-message>
                  </ng-container>
                </div>
                <div class="w-50 item-right ">
                  <span class="font-blue d-block">Created time</span>
                  <div class="d-flex align-items-center">
                    <span style="width: 7%">From</span>
                    <div style="width: 68%">
                      <input nbInput [nbDatepicker]="dateTimePickerFrom" fullWidth readonly
                             formControlName="createFrom">
                      <nb-datepicker #dateTimePickerFrom fullWidth></nb-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex mt-2">
                <div class="w-50 ml-1">
                  <span class="font-blue d-block">User</span>
                  <input type="text" trim="blur" nbInput fullWidth class="w-75" pattern="^((?!%).)*$"
                         formControlName="createUser">
                  <ng-container
                    *ngIf="searProjectForm.get('createUser').invalid">
                    <ngx-inline-message [formName]="searProjectForm.get('createUser')"
                                        [message]="'User'"></ngx-inline-message>
                  </ng-container>
                </div>
                <div class="w-50 item-right mt-4">
                  <div class="d-flex align-items-center">
                    <span style="width: 7%">To</span>
                    <div style="width: 68%">
                      <input nbInput [nbDatepicker]="dateTimePickerTo" readonly fullWidth formControlName="createTo">
                      <nb-datepicker #dateTimePickerTo fullWidth></nb-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-lg-center mr-lg-5">
                <button nbButton status="primary" class="mt-2 mb-2" (click)="searchProject()" [disabled]="searProjectForm.get('projectName').invalid || searProjectForm.get('createUser').invalid ">
                  Search
                </button>
              </div>
            </form>
            <ngx-datatable
              #table
              class="dark"
              [columnMode]="'flex'"
              [rows]="projectList"
              [columns]="columnsProject"
              [messages]="{totalMessage:'items'}"
              [headerHeight]="50"
              [footerHeight]="50"
              [loadingIndicator]="true"
              [limit]="10"
              rowHeight="auto"
            >
              <ng-container *ngFor="let col of columnsProject">
                <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [sortable]="false"
                                      [flexGrow]="col.flex">
                  <ng-template let-column="column" ngx-datatable-header-template>{{col.name}}</ng-template>
                  <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template let-row="rows">
                    <ng-container [ngSwitch]="col.prop">
                      <ng-container *ngSwitchDefault>
                          <span class="custom-show-data" [title]="value">
                              {{value}}
                          </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'createTime'">
                          <span class="custom-show-data" [title]="value">
                              {{value | date: 'dd/MM/yyyy'}}
                          </span>
                      </ng-container>
                      <ng-container *ngSwitchCase="'actions'">
                        <button type="button" nbButton nbTooltip="View model" status="primary" ghost size="small"
                                (click)="projectDetail(viewProject,rowIndex)">
                          <nb-icon icon="more-horizontal-outline"></nb-icon>
                        </button>
                      </ng-container>
                    </ng-container>
                  </ng-template>
                </ngx-datatable-column>
              </ng-container>
            </ngx-datatable>
          </nb-card>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
<ng-template #viewProject let-data>
  <nb-card class="w60-h90">
    <nb-card-header class="font-center">
      <span class="mt-2"> Project detail</span>
    </nb-card-header>
    <nb-card-body>
      <nb-card>
        <div class="mt-3 ml-3 mb-3 mr-3">
          <span class="font-weight-bold">Project detail</span>
          <div class="d-flex mt-1">
            <div class="w-43">
              <span class="d-block ml-3 mt-2 font-blue ">Project name</span>
              <input type="text" nbInput class="ml-3" [value]="project.projectName" fullWidth readonly>
            </div>
            <div class="w-43 ml-10">
              <span class="d-block ml-3 mt-2 font-blue">Create time</span>
              <input type="text" nbInput class="ml-3" [value]="project.createTime" fullWidth readonly>
            </div>
          </div>
          <div class="w-43 ml-3">
            <span class="d-block mt-2 font-blue ">User</span>
            <input type="text" nbInput fullWidth [value]="project.createUser" readonly>
          </div>
          <div class="mt-1 ml-3 w-96">
            <span class="d-block mt-2 font-blue ">Description</span>
            <textarea type="text" nbInput rows="3" fullWidth [value]="project.description" readonly></textarea>
          </div>
        </div>
      </nb-card>
      <nb-card>
        <div class="mt-3 ml-3 mb-3 mr-3">
          <form [formGroup]="searchMdel">
            <span class="font-weight-bold">Models use in this project</span>
            <div class="d-flex mt-1 align-items-center">
              <div class="w-43 ml-3">
                <span class="d-block mt-2 font-blue ">Model name</span>
                <input type="text" nbInput fullWidth pattern="^((?!%).)*$" formControlName="modelName">
                <ng-container
                  *ngIf="searchMdel.get('modelName').invalid">
                  <ngx-inline-message [formName]="searchMdel.get('modelName')"
                                      [message]="'Model Name'"></ngx-inline-message>
                </ng-container>
              </div>
      <!--        <div class="w-43 ml-10">
                <span class="d-block mt-2 font-blue">Task</span>
                <nb-checkbox formControlName="train">Train</nb-checkbox>
                <nb-checkbox style="margin-left: 20%" formControlName="test">Test</nb-checkbox>
                <nb-checkbox style="margin-left: 20%" formControlName="inference">Inference</nb-checkbox>
              </div>-->
            </div>
            <div class="d-flex mt-1">
              <div class="w-43 ml-3">
                <span class="d-block mt-2 font-blue ">Type</span>
                <div class="w-100">
                  <ng-select
                    formControlName="modelType"
                    [items]="modelType"
                    [clearable]="true"
                    bindLabel="modelTypeName"
                    bindValue="modelTypeId"
                    appendTo=""
                  ></ng-select>
                </div>
              </div>
              <div class="w-43 ml-10">
                <span class="d-block mt-2 font-blue">Mode</span>
                <div class="w-100">
                  <ng-select
                    formControlName="modelMode"
                    [items]="modeItem"
                    [clearable]="true"
                    bindLabel="name"
                    bindValue="prop"
                    appendTo=""
                  ></ng-select>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-lg-center mt-3 mb-3">
              <button nbButton status="primary" class="mt-2 mb-2" (click)="searchModelOfProject(data.projectId)">Search</button>
            </div>
          </form>
          <ngx-datatable
            #table
            class="dark"
            [columnMode]="'flex'"
            [rows]="resultModel"
            [columns]="columnsViewProject"
            [messages]="{totalMessage:'items'}"
            [headerHeight]="50"
            [footerHeight]="50"
            [loadingIndicator]="true"
            [limit]="10"
            rowHeight="auto"
          >
            <ng-container *ngFor="let col of columnsViewProject">
              <ngx-datatable-column prop="{{col.prop}}" name="{{col.name}}" [sortable]="false"
                                    [flexGrow]="col.flex">
                <ng-template let-column="column" ngx-datatable-header-template>{{col.name}}</ng-template>
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template let-row="rows">
                  <ng-container [ngSwitch]="col.prop">
                    <ng-container *ngSwitchDefault>
                          <span class="custom-show-data" [title]="value">
                            {{value}}
                          </span>
                    </ng-container>
<!--                    <ng-container *ngSwitchCase="'tasks'">-->
<!--                      <div class="d-flex ml-1">-->
<!--                        <div *ngIf="value[0] === 1" class="task-green mr-1"></div>-->
<!--                        <div *ngIf="value[1] === 1" class="task-red mr-1"></div>-->
<!--                        <div *ngIf="value[2] === 1" class="task-blue"></div>-->
<!--                      </div>-->
<!--                    </ng-container>-->
                    <ng-container *ngSwitchCase="'actions'">
                      <button type="button" nbButton nbTooltip="View model" status="primary" ghost size="small"
                              (click)="modelDetail(rowIndex)">

                        <nb-icon icon="more-horizontal-outline"></nb-icon>
                      </button>
                    </ng-container>
                  </ng-container>
                </ng-template>
              </ngx-datatable-column>
            </ng-container>
          </ngx-datatable>
<!--          <div class="d-flex justify-content-end mt-2 mr-5 align-items-center mb-2">-->
<!--            <span class="font-weight-bold mr-5">Task</span>-->
<!--            <div class="task-blue"></div>-->
<!--            <span class="mr-1 mr-3 ml-1">Inference</span>-->
<!--            <div class="task-green"></div>-->
<!--            <span class="mr-1 mr-3 ml-1">Train</span>-->
<!--            <div class="task-red"></div>-->
<!--            <span class="mr-1 mr-3 ml-1">Test</span>-->
<!--          </div>-->
        </div>
      </nb-card>
    </nb-card-body>
  </nb-card>
</ng-template>
