@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../styles/themes';

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }
  /*hightlight header*/
  nb-action.active {
    background-color:#191e32;
    height: 77px;
    width: 66px;
    margin: -1px;
    ::ng-deep {
      svg {
        fill: white;
      }

      nb-icon::before {
        color: white;
      }
    }
  }
  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }
  nb-action:focus {
    outline: none;
    box-shadow: none;
  }

  .control-item label.tittle {
    overflow: hidden;
    display: none;
    //font-weight: normal;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    //width: 0;
    margin-bottom: 0px !important;
    //transition-property: width;
    //transition-duration: 2s;
    //transition-timing-function: linear;
    //transition-delay: 1s;
  }
  .control-item:hover label.tittle {
    display: block;
    width: auto;
  }

  nb-user {
    cursor: pointer;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select {
      display: none;
    }
  }
}

.header-container {
  width: 100%;

  .logo-container {
    width: 100%;

    .breadcrumb {

      padding: 0;
      margin: 0;
      background: none !important;
    }

    nav {
      box-shadow: none;
    }
  }
}
 ::ng-deep .p-menubar {
   background: #222b45 !important;
 }
 ::ng-deep .p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
   background: #0e172f;
 }

 ::ng-deep .p-menubar .p-submenu-list {
   background: #222b45;
   border: 1px solid #3f4b5b;
 }
