@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
//@import '~primeicons/primeicons.css';
// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
//@import '~primeicons/primeicons.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/bootstrap4-dark-blue/theme.css';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

}

;
@import '~@ng-select/ng-select/themes/default.theme.css';
* {
  scrollbar-color: #151a30 #151a30;
  scrollbar-width: thin;
}

.nb-theme-dark .ng-select.ng-select-opened > .ng-select-container {
  background-color: #222b45;
  border: 1px solid #151a30;
}

.nb-theme-dark .ng-select .ng-select-container {
  background-color: #192038;
  border: 1px solid #151a30;
  color: #efefef;
}

.nb-theme-dark .ng-select .ng-select-container:hover {
  border: 1px solid #3366ff;
}

.nb-theme-dark .ng-select.ng-select-multiple
.ng-select-container
.ng-value-container
.ng-value {
  background-color: #192038;
}

.nb-theme-dark div.dropdown button {
  font-size: 0.9rem;
}

.nb-theme-dark div.treeview-header input.form-control {
  font-size: 0.9rem;
}

.nb-theme-dark .btn-outline-secondary {
  color: #6c757d !important;
  border: 1px solid #151a30 !important;
  background-color: #192038 !important;
}

.nb-theme-dark .btn-outline-secondary:hover {
  color: #6c757d !important;
  border: 1px solid #007bff !important;
  background-color: #192038 !important;
}

.nb-theme-dark .btn-outline-secondary:not(:disabled):not(.disabled):active,
.nb-theme-dark .btn-outline-secondary:not(:disabled):not(.disabled).active,
.nb-theme-dark .show > .btn-outline-secondary.dropdown-toggle {
  color: #6c757d !important;
  border: 1px solid #007bff !important;
  background-color: #192038 !important;
}

.nb-theme-dark .dropdown-menu {
  color: white !important;
  background-color: #222b45 !important;
  font-size: 0.9rem;
}

.nb-theme-dark .ng-select.ng-select-multiple
.ng-select-container
.ng-value-container
.ng-value
.ng-value-icon.left {
  border-right: 1px solid #212b44;
}

.nb-theme-dark .ng-select.ng-select-multiple
.ng-select-container
.ng-value-container
.ng-value
.ng-value-icon:hover {
  background-color: #192038;
  color: #3366ff;
}

.ng-dropdown-panel .scroll-host {
  background-color: #192038;
  border: 1px solid #151a30;
}

.ng-dropdown-panel.ng-select-bottom {
  background-color: #192038;
  border: 1px solid #151a30;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: #222b45;
  color: #eee;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
  background-color: #192038;
  color: #eee;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #192038;
  color: #eee;
}

.nb-theme-dark nb-select.appearance-outline.status-primary .select-button {
  border: 1px solid #151a30;
}

.ng-dropdown-panel,
.ng-dropdown-panel {
  border-color: #151a30;
}

.ng-dropdown-panel.ng-select-top {
  border-bottom: #151a30;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  color: #ccc;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
  position: relative;
}

.dialog {
  max-height: 90vh;
  max-width: 90vw;
}

.dialog-sm {
  height: 20vh;
  width: 20vw;
}

.dialog-md {
  height: 75vh;
  width: 75vw;
}

.ng-select {
  .ng-value {
    //background-color: #2d8ac7;
    .ng-value-icon.left {
      float: right;
      border-right: unset !important;
    }
  }
}

gojs-diagram {
  padding: 10px;
  height: 100%;
  width: 100%;
  display: block;
}

.myDiagramDiv {
  background: #eeeeee;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.myPaletteDiv {
  background: lightcyan;
  border: 1px solid navy;
  width: 200px;
  height: 300px;
}

.myOverviewDiv {
  width: 100%;
  height: 500px;
  background: whitesmoke;
  border: 1px solid black;
}

.left {
  float: left;
  padding: 5px;
  margin: 5px;
}

.box {
  border: solid 1px black;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dotted {
  border-style: dotted;
}

.dashed {
  border-style: dashed;
}

.solid {
  border-style: solid;
}

.double {
  border-style: double;
}

.border-preview {
  border-top: 20px;
  height: 10px;
  width: 50%;
  border-left: unset !important;
  border-right: unset !important;
  border-color: white;
}

.nb-theme-dark .ng-option-selected .border-preview {
  border-color: gray;
}

ngx-border-select ng-select .ng-value {
  width: 100%;
}

.datatable-tree-button {
  background-color: #598bff;
  border-color: #598bff;
  color: #ffffff;
  padding: 0.25rem !important;
  border-style: solid;
  border-width: 0.0625rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1rem;
}

.datatable-tree-button:focus {
  outline: none;
}

.owl-carousel {
  height: 100%;
}

.owl-carousel .owl-stage-outer {
  height: 100%;
}

.owl-carousel .owl-stage {
  display: flex;
  height: 100%;
}

owl-stage {
  height: 100%;
}

owl-stage > div {
  height: 100%;
}

//.owl-carousel .owl-item img {
//  width: 100%!important;
//  height: 100%;
//}

.owl-carousel .owl-item {
  height: 100%;
}

.avatarImage {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: unset !important;
  height: unset !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ngx-application-cluster .ngx-datatable .datatable-footer .page-count {
  flex: 1 1 40%;
}

ngx-application-cluster .ngx-datatable .datatable-footer .datatable-pager {
  flex: 1 1 60%;
}

gojs-diagram {
  padding: 0;
}

[nbButton].appearance-ghost:focus {
  background: transparent !important;
  border: none !important;
  transition: none !important;
  box-shadow: none !important;
}

[nbButton].color-picker-toggle {
  border: none !important;
}

[nbInput].size-medium {
  font-weight: normal !important;
}

.ngx-datatable .datatable-body-cell-label {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  align-items: center;
}

.ngx-datatable .datatable-body .datatable-body-row > div {
  align-items: center;
}

.ng-select.ng-select-single .ng-select-container {
  height: 40px;
}

.selectedRow {
  background: #232837 !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
  display: inline-block;
  padding: 5px;
}

nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 1rem 1.725rem 0.75rem !important;
}

.nb-theme-dark .cke_wysiwyg_frame, .cke_wysiwyg_div {
  background: #192038 !important;
  color: #ffffff !important;
}

.nb-theme-dark nb-sidebar {
  display: none;
}

//.nb-theme-dark{
//  background-color: #3366ff !important;
//}
.nb-theme-dark .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #3366ff !important;
}

//.pre-scrollable {
//  max-height: 340px ;
//  overflow-y: scroll;
//  color: #192038;
//  padding: 5px;
//}
.scrollable {
  word-wrap: break-word !important;
  text-overflow: ellipsis !important;
  box-sizing: border-box !important;
  overflow: hidden;

  img {
    max-width: 720px !important;
  }
}

*:not(nb-icon):not(.k-icon):not(.pi) {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.nb-theme-dark nb-accordion nb-accordion-item-header {
  line-height: 10px;
  font-weight: 400;
}

.nb-theme-dark .ng-dropdown-header {
  background-color: #222b45;
  color: #eee;
}

.header-container nb-actions.size-small nb-action nb-icon.fa {
  font-size: 1rem;
}

.header-container .user-container .user-picture {
  display: none !important;
}

.ngx-datatable .datatable-body .datatable-row-detail {
  height: auto !important;
  width: 100% !important;
}

nb-auth {
  nb-layout {
    nb-layout-column {
      background: url('~assets/images/bg-login.jpg') no-repeat !important;
      background-size: cover !important;;
    }

    nb-card {
      border: unset !important;

      nb-card-header {
        border-bottom: unset !important;
        display: none;
      }

      background: transparent !important;
      box-shadow: unset !important;

      nb-auth-block {
        display: flex;
        //width: 100%!important;
        height: 70% !important;
        //max-height: 70%!important;
        max-width: unset !important;
        width: 50% !important;
        border-radius: 10px;
        //padding: 20px;
        background: #151a30;
        opacity: 0.9;
      }
    }
  }
}

@media screen and (min-device-width: 720px) and (max-width: 1366px) {
  nb-auth {
    nb-layout {

      nb-card {
        nb-auth-block {
          width: 60% !important;
          height: 70% !important;
        }
      }
    }
  }
}

.ng-placeholder {
  font-weight: normal !important;
}

.nb-theme-dark [nbInput].size-medium {
  padding: 0.4375rem 0.7rem;
}

.nb-theme-dark [nbButton]:focus {
  box-shadow: none;
}

.nb-theme-dark nb-layout.with-scroll .scrollable-container {
  overflow: hidden !important;
}

p-picklist {
  .p-picklist-buttons:last-child {
    display: none;
  }

  .p-picklist-buttons:first-child {
    display: none;
  }
}

*::-webkit-scrollbar-thumb {
  background: #101426;
  cursor: pointer;
  border-radius: 0.15625rem;
}

*::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

*::-webkit-scrollbar-track {
  background: #192038;
}

.nb-theme-dark nb-spinner.status-primary {
  background-color: rgba(143, 155, 179, 0);
}

.p-picklist-list-wrapper {
  width: 40%;
}

.nb-theme-dark [nbButton].size-small.icon-start.icon-end.appearance-ghost {
  border: none;
}

.nb-theme-dark [nbButton] :focus {
  border: none;
}

text.highcharts-credits {
  display: none;
}
