<div class="user-update-dialog">
  <form [formGroup]="userInfo">
    <nb-card>
      <nb-card-header class="d-flex">
        {{this.userInfo.get('id').value ? ('user.label.edit'|translate) : ('user.label.new'|translate)}}
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="label">{{'user.column.account'|translate}}<span class="text-danger ml-2">*</span></label>
              <input nbInput fullWidth class="form-control" formControlName="login" trim="blur" [readonly]="user?.ssoUserId">
              <ngx-inline-message [message]="'user.column.account'" [formName]="userInfo.get('login')">
              </ngx-inline-message>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="label">{{'user.column.email'|translate}}<span class="text-danger ml-2">*</span></label>
              <input nbInput fullWidth class="form-control" formControlName="email" trim="blur" [readonly]="user?.ssoUserId">
              <ngx-inline-message [message]="'user.column.email'" [formName]="userInfo.get('email')">
              </ngx-inline-message>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label class="label">{{'user.column.phoneNumber'|translate}}<span
                class="text-danger ml-2">*</span></label>
              <input nbInput fullWidth class="form-control" formControlName="phoneNumber" trim="blur" [readonly]="user?.ssoUserId">
              <ngx-inline-message [message]="'user.column.phoneNumber'" [formName]="this.userInfo.get('phoneNumber')">
              </ngx-inline-message>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="form-group">
              <label class="label">{{'user.column.language'|translate}}<span class="text-danger ml-2">*</span></label>
              <ng-select fullWidth [items]="languages" formControlName="langKey" bindValue="langKey" bindLabel="langTitle" [readonly]="user?.ssoUserId">
              </ng-select>
              <ngx-inline-message [message]="'user.column.language'" [formName]="userInfo.get('langKey')">
              </ngx-inline-message>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="label">{{'user.column.fullname'|translate}}<span class="text-danger ml-2">*</span></label>
              <input nbInput fullWidth class="form-control" formControlName="firstName" trim="blur" [readonly]="user?.ssoUserId">
              <ngx-inline-message [message]="'user.column.fullname'" [formName]="this.userInfo.get('firstName')">
              </ngx-inline-message>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label class="label">{{'user.column.role'|translate}}<span class="text-danger ml-2">*</span></label>

              <ng-select id="authoritiesId" [selectableGroup]="true" [closeOnSelect]="false" [items]="authorities"
                         multiple="true" bindLabel="displayName"
                         formControlName="authorities" appendTo="body">
              </ng-select>

              <ngx-inline-message [message]="'user.column.role'" [formName]="userInfo.get('authorities')">
              </ngx-inline-message>
            </div>
          </div>
        </div>

      </nb-card-body>
      <nb-card-footer>
        <div class="float-right">
          <button nbButton  (click)="dismiss()" status="danger">{{'user.label.cancel'|translate}}</button>
          <button nbButton class="ml-2"  (click)="onSave()" [disabled]="userInfo.invalid" status="primary">{{'user.label.save'|translate}}</button>
        </div>
      </nb-card-footer>
    </nb-card>
  </form>
</div>
