<nb-card>
  <nb-card-header><h5>{{ title }}</h5></nb-card-header>
  <nb-card-body>
    <div>
      <h6 style="font-weight: 400">{{message}}</h6>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="text-right">
      <button nbButton type="button" status="warning" size="small" *ngIf="!hideCancel" (click)="close()">
        {{ cancelTitle }}
      </button>
      <button nbButton type="button" status="info" size="small" (click)="save()" class="ml-2">
        {{ okTitle }}
      </button>
    </div>
  </nb-card-footer>
</nb-card>
